<section class="header" th:fragment="content">

    <section class="header">


        <nav class="navbar">
            <a href="/" class="logo">
                <img th:src="@{/images/dodo.jpg}" alt="" src="">
            </a>
            <a href="/admin">Отслеживание заказов</a>
            <a href="/admin/courier">Курьеры</a>
            <a href="/admin/menu">Меню</a>
            <a href="/admin/product/add">Новая позиция</a>
            <a> </a><a> </a><a> </a><a> </a><a> </a>

            <a href="/logout">
                <img th:src="@{/images/end.jpg}" alt="" height="27" width="27" src="">
            </a>
            
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>


</section>