<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

    <div class="include" th:include="/fragments/adminNavbar :: content"></div>

    <label for="search-input"></label><input type="text" id="search-input" class="searchInput" onkeyup="searchTable()" placeholder="Поиск...">

    <section class="admin-product">
        <div class="tables">
            <table id="productTable">
                <tr>
                    <th>Фото</th>
                    <th>Название позиции</th>
                    <th>Цена</th>
                    <th>Категория</th>
                    <th>Калорийность</th>
                    <th>Описание</th>
                    <th></th>
                </tr>

                <tr th:each="product : ${products}">
                    <td>
                        <div class="photo-product">
                            <a th:href="@{'/admin/product/' + ${product.id}}">
                                <img th:src="@{/file/__${product.photoName}__}" alt="" src="">
                            </a>

                        </div>
                    </td>
                    <td><span th:text="${product.nameOfProduct}"></span></td>
                    <td><span th:text="${product.price}"></span></td>
                    <td><span th:text="${product.category}"></span></td>
                    <td><span th:text="${product.calories}"></span></td>
                    <td><span th:text="${product.description}"></span></td>

                    <td>
                        <form th:action="@{/admin/product/__${product.id}__}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="delete-product" type="submit">
                                <img th:src="@{/images/delete.jpg}" alt="" height="27" width="27" src="">
                            </button>
                        </form>

                    </td>

                </tr>

            </table>
        </div>
    </section>

    <script src="/js/admin.js"></script>

</body>

</html>