<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Позиция в меню</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<div class="include" th:include="/fragments/adminNavbar :: content"></div>

<section class="change-product">

    <h1><span th:text="${product.nameOfProduct}"></span></h1>

    <div class="product-info">
        <img th:src="@{/file/__${product.photoName}__}" alt="" class="product-image">
        <div class="product-details">
            <p><strong class="product-label">Цена: </strong>
                <span th:text="${product.price}"></span></p>
            <p><strong class="product-label">Категория: </strong>
                <span th:text="${product.category}"></span></p>
            <p><strong class="product-label">Калорийность: </strong><span th:text="${product.calories}"></span></p>
            <p><strong class="product-label">Описание: </strong><span th:text="${product.description}"></span></p>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <section class="product-page">

        <p><span th:text="${errorValidMessage}"></span></p>

        <div class="clearfix"></div>

        <form th:method="post" th:action="@{/admin/product/__${product.id}__}" th:object="${requestProductForm}"
              id="addProductForm" enctype="multipart/form-data" method="post">

            <h2>Изменить данную позицию</h2>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <input type="hidden" name="_method" value="PUT"/>

            <label>
                <input type="text" name="nameOfProduct" size="40" placeholder="Название позиции" id="nameOfProduct">
            </label>

            <div class="clearfix"></div>

            <label>
                <input type="text" name="category" size="40" placeholder="Категория" id="category">
            </label>

            <div class="clearfix"></div>

            <label>
                <input type="text" name="price" size="40" placeholder="Цена" id="price">
            </label>

            <div class="clearfix"></div>

            <label>
                <input class="description" type="text" name="description" size="80" placeholder="Описание"
                       id="description">
            </label>

            <div class="clearfix"></div>

            <label>
                <input class="calories" type="text" name="calories" size="80" placeholder="Калорийность" id="calories">
            </label>

            <div class="clearfix"></div>

            <input type="file" name="photo" id="photo">

            <button type="submit">Внести изменения</button>

        </form>
    </section>

</section>


</body>

</html>