<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибочка</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>

<body>

<div class="include" th:include="/fragments/userNavbar :: content"></div>

<section class="index">
    <h1>Какие-то неполадки на сервере, приносим свои извинения &#128073; &#128072;</h1>
</section>

<div class="error-img">
    <img th:src="@{/images/error-server.jpg}" alt="" src="">
</div>


</body>

</html>