<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отзывы</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bag.css}"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>

<div class="include" th:include="/fragments/userNavbar :: content"></div>

<section class="change-product">
    <form id="send-form">
        <h2>Здесь вы можете анонимно оставить любой отзыв о нашей доставке, качестве еды</h2>
        <h3>Принимаем любые ваши жалобы и предложения. Спасибо, что делаете нас лучше!</h3>

        <div style="display: flex; align-items: center;">
            <label>
                <input name="stars" size="40" placeholder="Оценка" id="stars">
            </label>

        </div>

        <div class="clearfix"></div>

        <div style="display: flex; align-items: center;">
            <label>
                <input name="commentary" size="80" placeholder="Комментарий" id="commentary">
            </label>
        </div>

        <div class="clearfix"></div>

        <button id="send" name="send" onclick="addNewFeedback()">Отправить отзыв</button>
    </form>
</section>

<section>
    <div class="feedback-container">
        <div class="feedback">
            <h2>Отзывы</h2>
            <table class="feedback-table">
                <thead>
                <tr>
                    <th>Дата размещения</th>
                    <th>Оценка</th>
                    <th>Комментарий</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</section>

<script src="/js/feedback.js"></script>

</body>

</html>